
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cabin+Sketch:wght@400;700&family=Fredericka+the+Great&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Homenaje&family=Pompiere&display=swap');

.myFont {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    text-align: left;
}

.google-sans-code{
   font-family: "Google Sans Code", monospace;
   font-optical-sizing: auto;
   font-weight:300;
   font-style: normal;
}


.title-font {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    text-align: left;
    color: darkgreen;
    padding-left: 15px;
}


.page-background {
    background-color: #f0f0f0;
    background-image: url('/src/assets/background/wood_background1.jpg');
    background-size: contain;
    background-position: center;
}

.dropdown-item {
    background-color: transparent !important;
    color: inherit !important;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
    background-color: transparent !important;
    color: inherit !important;
}

@font-face {
    font-family: 'AlphaWood';
    src: url('./assets/fonts/woodFont/AlphaWood.ttf.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/woodFont/AlphaWood.ttf.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/woodFont/AlphaWood.ttf.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/woodFont/AlphaWood.ttf.svg#AlphaWood') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}


.personal-background {
    background-color: rgba(191, 186, 155, 1);
    fill: rgba(191, 186, 155, 1);
}


.text-wood  {
    color: black;
    font-size: 40px;
    font-family: "Amatic-SC", sans-serif;
    text-align: left;
    padding-left: 0px;
}


.card-hover:hover {
    transform: scale(1.02);
    transition: transform 0.25s ease;
}

.my-custom-calendar {
    width: 380px !important;     /* fa occupare tutta la larghezza */
    max-width: 100% !important;
    font-size: 16px;            /* puoi aumentare la dimensione dei numeri */
    padding: 10px;              /* margini interni */
    background-color: #f0f0f0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.my-custom-calendar .react-datepicker__day {
    width: 45px;                /* dimensione delle celle */
    height: 65px;
    line-height: 30px;
    margin: 3px;
}

.my-custom-calendar .react-datepicker__day-name {
    width: 40px; /* dimensione dei nomi dei giorni */
}


ul {
    list-style: none;         /* tolgo i puntini originali */
    padding-left: 1em;        /* aggiungo un po' di spazio a sinistra */
}

ul li::before {
    content: "◦";             /* il nuovo punto */
    color: darkgreen;               /* colore del punto */
    margin-right: 0.5em;      /* spazio tra punto e testo */
}
